.c-about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.c-about_headline {
    text-align: center;
    margin-top: -5%;
}

.c-about_title {
    font-size: 2.5em;
}

.c-about_content {
    margin-left: 10%;
    margin-top: -5%;
}

.c-about_copy {
    width: 60%;
    max-height: 60%;
    overflow: scroll;
}

.c-about_image {
    height: 400px;
}

@media only screen and (max-width: 1024px) {
    .c-about {
        height: auto;
    }

    .c-about_content {
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .c-about_copy {
        width: 90%;
    }

    .c-about_image {
        height: 250px;
    }
}